<div class='container'>
  <h3>Categories-Delete</h3>
  <div class="row">
    <div class="col-md-6">
      <h4>
        <strong>Name:</strong>
        <%= @category.name  %>
      </h4>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <%= image_tag @category.image(:medium), class: "img-thumbnail" %>
      </div>
    </div>
  </div>

  <div class="pager">
    <li><%= link_to "Delete", @category, method: :delete %></li>
    <li><%= link_to 'Edit', edit_category_path(@category) %></li>
    <li><%= link_to 'Back', categories_path %></li>
  </div>
</div>
