<%= form_for(@product) do |f| %>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><%= f.label :name %></span>
        <%= f.text_field :name, class: "form-control" %><br>
      </div>
    </li>
    <li class="list-group-item">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><%= f.label :description %></span>
        <%= f.text_field :description, class: "form-control" %><br>
      </div>
    </li>
    <li class="list-group-item">
      <div class="category_id">
        <%= f.label :category_id %><br>
        <%= f.collection_select(:category_id, Category.order("name"), :id, :name) %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><%= f.label :price %></span>
        <%= f.text_field :price, class: "form-control" %><br>
      </div>
    </li>
    <li class="list-group-item">
      <div class="image">
        <%= f.label :image %><br>
        <% if @product.image.exists? %>
          <%= image_tag @product.image(:thumbnail), class: "img-thumbnail" %>
          <%= check_box :delete, :checked %>
          <span>Delete</span>
        <% end %>
        <%= f.file_field :image %>
      </div>
    </li>
    <li class="list-group-item">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><%= f.label :tax_rate %></span>
        <%= f.text_field :tax_rate, class: "form-control" %><br>
      </div>
    </li>
    <li class="list-group-item">
      <div class="actions">
        <%= f.submit %>
      </div>
    </li>
  </ul>
<% end %>

